<div class="center hero-unit">
	<h1>One Month Rails Project</h1>
	<p>
		Project based on
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
	</p>
</div>
